
body {
  background-color: #eee;
}

/* Nastavení vzhledu formuláře pro přihlášení */
.form-signin {
  max-width: 330px; /* Maximální šířka formuláře */
  margin: 100px auto; /* Odsazení od vrchu a spodku */
  padding: 15px; /* Odsazení uvnitř formuláře */
  background-color: #fff; /* Barva pozadí formuláře */
  border-radius: 10px; /* Oblé rohy */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); /* Stín formuláře */
}

.form-dashboard {
  text-align: left; /* Nastavení zarovnání textu na levou stranu */
  margin-left: auto; /* Zarovná levý okraj na střed */
  margin-right: auto; /* Zarovná pravý okraj na střed */
  margin-top: 30px; /* Odsazení shora */
  padding: 15px; /* Odsazení uvnitř formuláře */
  background-color: #fff; /* Barva pozadí formuláře */
  border-radius: 10px; /* Oblé rohy */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); /* Stín formuláře */
}

.table-custom {
  width: 100%;
  margin-left: auto; /* Zarovná levý okraj na střed */
  margin-right: auto; /* Zarovná pravý okraj na střed */
  padding-left: -15;
  padding-right: 15;
}


/* Nastavení vzhledu skupiny elementů formuláře */
.form-group {
  margin-bottom: 20px; /* Odsazení odspodu od každé skupiny */
}

.custom-input-group {
  display: flex;
  max-width: 500px; /* Maximální šířka formuláře */
  margin-right: 0px; /* Zarovnání vpravo */
}

.custom-input {
  width: 100%; /* Šířka vstupních polí napříč rodičovským kontejnerem */
  padding: 10px; /* Vnitřní odsazení vstupních polí */
  font-size: 16px; /* Velikost písma vstupních polí */
  border: 1px solid #ced4da; /* Ohraničení vstupních polí */
  border-radius: 5px; /* Oblé rohy vstupních polí */
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-sizing: border-box; /* Včetně ohraničení a vnitřního odsazení do celkové šířky */
}


.custom-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Nastavení vzhledu popisků (label) v formuláři */
label {
  display: block; /* Popisky budou zobrazeny jako blokové elementy, jeden pod druhým */
  margin-bottom: 5px; /* Odsazení popisků odspodu od příslušných polí */
  color: #555; /* Barva textu popisků */
}


/* Nastavení vzhledu vstupních polí v formuláři */
.form-control {
  width: 100%; /* Šířka vstupních polí */
  padding: 10px; /* Vnitřní odsazení vstupních polí */
  font-size: 16px; /* Velikost písma vstupních polí */
  border: 1px solid #ced4da; /* Ohraničení vstupních polí */
  border-radius: 5px; /* Oblé rohy vstupních polí */
  box-sizing: border-box; /* Včetně ohraničení a vnitřního odsazení do celkové šířky */
}

/* Nastavení vzhledu tlačítka */
.btn-primary {
  background-color: #007bff; /* Barva pozadí tlačítka */
  border: 1px solid #007bff; /* Ohraničení tlačítka */
}

/* Nastavení vzhledu tlačítka po najetí myší */
.btn-primary:hover {
  background-color: #0056b3; /* Barva pozadí tlačítka po najetí myší */
  border: 1px solid #0056b3; /* Ohraničení tlačítka po najetí myší */
}

.form-container{
  margin-left: auto; /* Zarovná levý okraj na střed */
  margin-right: auto; /* Zarovná pravý okraj na střed */
  margin-top: 78px; /* Odsazení shora */
  padding: 15px; /* Odsazení uvnitř formuláře */
  background-color: #fff; /* Barva pozadí formuláře */
  border-radius: 10px; /* Oblé rohy */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); /* Stín formuláře */
  width: 500px;
  height: 362px;
}