{% extends "base.html" %}

{% block content %}


<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

<div class="container">

    <form class="form-signin" method='POST' action="">
        <h2 class="form-signin-heading">Register</h2>
        {{ form.hidden_tag() }}
    
        <div class="form-group">
            <label for="username">Username:</label>
            {{ form.username(class="form-control", placeholder="Enter your username") }}
        </div>
    
        <div class="form-group">
            <label for="password">Password:</label>
            {{ form.password(class="form-control", placeholder="Enter your password") }}
        </div>
    
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>

    </form>
  
  </div> <!-- /container -->
{% endblock %}